includes:
    - template-compiler/services.neon

parametersSchema:
    bladestan: structure([
        unusedViews: bool()
    ])

parameters:
    bootstrapFiles:
        - ../bootstrap.php
    bladestan:
        unusedViews: false

rules:
    - Bladestan\Rules\BladeRule

services:
    errorFormatter.blade:
        class: Bladestan\ErrorReporting\PHPStan\ErrorFormatter\BladeTemplateErrorFormatter
        arguments:
            simpleRelativePathHelper: @simpleRelativePathHelper
            showTipsOfTheDay: %tipsOfTheDay%
            editorUrl: %editorUrl%
            editorUrlTitle: %editorUrlTitle%

    - PhpParser\PrettyPrinter\Standard
    - PhpParser\ConstExprEvaluator
    - Illuminate\Filesystem\Filesystem

    - Bladestan\Laravel\View\BladeCompilerFactory
    -
        class: Illuminate\View\Compilers\BladeCompiler
        factory: ['@Bladestan\Laravel\View\BladeCompilerFactory', 'create']

    - Bladestan\ViewRuleHelper
    - Bladestan\Blade\PhpLineToTemplateLineResolver
    - Bladestan\ErrorReporting\Blade\TemplateErrorsFactory
    - Bladestan\NodeAnalyzer\TemplateFilePathResolver
    - Bladestan\NodeAnalyzer\LaravelViewFunctionMatcher
    - Bladestan\NodeAnalyzer\MailablesContentMatcher
    - Bladestan\NodeAnalyzer\BladeViewMethodsMatcher
    - Bladestan\NodeAnalyzer\ViewDataParametersAnalyzer
    - Bladestan\NodeAnalyzer\ViewVariableAnalyzer
    - Bladestan\NodeAnalyzer\CompactFunctionCallParameterResolver
    - Bladestan\NodeAnalyzer\MagicViewWithCallParameterResolver
    - Bladestan\NodeAnalyzer\ClassPropertiesResolver
    - Bladestan\NodeAnalyzer\ValueResolver
    - Bladestan\Compiler\BladeToPHPCompiler
    - Bladestan\PhpParser\NodeVisitor\BladeLineNumberNodeVisitor
    - Bladestan\PhpParser\ArrayStringToArrayConverter
    - Bladestan\Rules\IncludedViewCollector
    - Bladestan\Rules\UnusedViewRule

    -
        class: Bladestan\PhpParser\NodeVisitor\ViewFunctionArgumentsNodeVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor

conditionalTags:
    Bladestan\Rules\IncludedViewCollector:
        phpstan.collector: %bladestan.unusedViews%
    Bladestan\Rules\UnusedViewRule:
        phpstan.rules.rule: %bladestan.unusedViews%
