name: Code Analysis

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  code_analysis:
    strategy:
      fail-fast: false
      matrix:
        actions:
          - name: ECS
            run: vendor/bin/ecs
          - name: PHPStan
            run: vendor/bin/phpstan
          - name: Unit Tests
            run: vendor/bin/phpunit --coverage-clover=coverage.xml
            coverage: xdebug
          - name: Check Active Classes
            run: vendor/bin/class-leak check src --ansi --skip-type=TomasVotruba\\Bladestan\\ErrorReporting\\PHPStan\\ErrorFormatter\\BladeTemplateErrorFormatter

    name: ${{ matrix.actions.name }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring

      - if: matrix.actions.name == 'Unit Tests'
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          coverage: xdebug

      - uses: ramsey/composer-install@v3

      - run: ${{ matrix.actions.run }}

      - name: Upload coverage reports to Codecov
        if: matrix.actions.name == 'Unit Tests'
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
